appdirs==1.4.4
black==20.8b1
bottle==0.12.19
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
cycler==0.10.0
filelock==3.0.12
idna==2.10
isort==5.7.0
joblib==0.17.0
kiwisolver==1.3.1
matplotlib==3.3.3
mercurial==5.6
mplfinance==0.11.0
mypy-extensions==0.4.3
numpy==1.19.4
pathspec==0.8.1
Pillow==8.0.1
pyflakes==2.2.0
pylab==0.0.1
PyMySQL==0.10.1
pyparsing==2.4.7
python-dateutil==2.8.1
regex==2020.11.13
requests==2.25.0
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
threadpoolctl==2.1.0
toml==0.10.2
tulipy==0.4.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.26.2
youtube-dl==2021.1.8
